@font-face {
  font-family: "Gilroy-Bold";
  src: url(fonts/Gilroy-Bold.ttf);
}
@font-face {
  font-family: "Gilroy-Medium";
  src: url(fonts/Gilroy-Medium.ttf);
}
@font-face {
  font-family: "Gilroy-Regular";
  src: url(fonts/Gilroy-Regular.ttf);
}
@font-face {
  font-family: "Gilroy-SemiBold";
  src: url(fonts/Gilroy-SemiBold.ttf);
}

* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}

.title__medium {
  color: #000;
  font-family: "Gilroy-Bold";
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.title__small {
  color: #000;
  font-family: "Gilroy-Bold";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.text__regular {
  color: #666;
  font-family: "Gilroy-Regular";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.header__container {
  /* padding-top: 40px; */
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}

.menu__list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 34px;
}

.menu__link {
  font-family: "Gilroy-Medium";
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.menu__link:hover {
  color: #f25822;
  font-family: "Gilroy-SemiBold";
}

.button {
  background: #f25822;
  color: #fff;
  border-radius: 50px;
  font-family: "Gilroy-Bold";
  border: transparent;
}
.menu__button {
  border-radius: 30px;
  padding: 12px 27px 13px;
  font-family: "Gilroy-SemiBold";
}
.menu__link-button {
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.main__container {
  display: flex;
  gap: 41px;
}

.intro {
  padding-top: 83px;
  padding-bottom: 103px;
}

.intro__info {
  margin-top: 60px;
}

.intro__title {
  margin-bottom: 17px;
  max-width: 522px;
  color: #000;
  font-family: "Gilroy-Bold";
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: relative;
}
.intro__Ellipse {
  position: absolute;
  top: 73px;
  right: 228px;
  z-index: -1;
}

.intro__text {
  color: #888;
  font-family: "Gilroy-Medium";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 466px;
}

.intro__buttons {
  margin-top: 37px;
  display: flex;
  gap: 27px;
}

.intro__button {
  box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.2);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 15px 36px 16px 35px;
}

.button__watch-video {
  color: #aaa;
  font-family: "Gilroy-Bold";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  align-items: center;
  background-color: inherit;
  border: none;
}

.watch-video__text {
  margin-left: 15px;
}

.logos__container {
  padding: 97px 0 96px;
  display: flex;
  gap: 48px;
}

.stat {
  background-color: #fafafa;
  max-height: 540px;
  position: relative;
  z-index: -3;
}

.spiral1 {
  position: absolute;
  z-index: -1;
  left: 50px;
  bottom: 79px;
}

.spiral2 {
  position: absolute;
  z-index: -1;
  top: 72px;
  left: 45px;
}

.stat__inner {
  display: flex;
  max-width: 1314px;
  margin: 0 auto 0 425px;
}

.stat__info {
  padding-top: 127px;
}

.stat__title {
  max-width: 409px;
  margin-bottom: 20px;
}

.stat__text {
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 35px;
  max-width: 515px;
}
.stat__button {
  padding: 16px 31px 15px;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.stat__pic img {
  width: 100%;
}

.features {
  padding: 100px 0;
}

.features__container {
  display: flex;
  gap: 60px;
}

.feature {
  padding: 40px 31px 25px 30px;
}

.feature:hover {
  box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
}

.feature__pic {
  margin-bottom: 25px;
}

.feature__title {
  margin-bottom: 17px;
}

.feature__text {
  max-width: 310px;
  margin-bottom: 25px;
}

.feature__more-info {
  color: #000;
  font-family: "Gilroy-Bold";
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 16.5px */
}

.choose-us {
  background: #fafafa;
  padding: 92px 0 100px;
}
.choose-us__title {
  text-align: center;
}

.choose-us__text {
  text-align: center;
  font-size: 16px;
  line-height: 150%; /* 24px */
  max-width: 682px;
  margin: 19px auto 54px;
}

.choose-us__cards {
  display: flex;
  gap: 30px;
}
.choose-us__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding-bottom: 50px;
}

.choose-us__card:hover {
  box-shadow: 15px 25px 60px -5px rgba(0, 0, 0, 0.1);
}

.choose-us__discription {
  color: #aaa;
  text-align: center;
  max-width: 310px;
  margin: 22px auto 39px;
}

.choose-us__button-inner {
  display: flex;
}

.span__learn-more {
  display: block;
  margin-right: 3px;
}

.choose-us__button {
  padding: 15px 25px 15px 46px;
  max-width: 150px;
  display: flex;
}

.choose-us__pic {
  margin-bottom: 25px;
}
.pic1 {
  margin-top: 15px;
}

.reasons__container {
  display: grid;
  grid-template-columns: 50% 50%;
}

.reasons__pic {
  max-width: 100%;
}

.reasons__info {
  padding-top: 107px;
}

.reasons__title {
  max-width: 557px;
  margin-bottom: 19px;
}

.reasons__text {
  font-size: 16px;
  max-width: 570px;
  margin-bottom: 79px;
}

.reasons__reason {
  display: flex;
  gap: 29px;
  align-items: center;
  max-width: 570px;
  padding: 17px 49px 17px 30px;
}

.reasons__reason:hover {
  box-shadow: 15px 25px 60px -5px rgba(0, 0, 0, 0.1);
}

.reason__title {
  font-size: 20px;
  line-height: 150%; /* 30px */
  margin-bottom: 8px;
}

.reason__text {
  max-width: 362px;
}

.reason1,
.reason2 {
  margin-bottom: 30px;
}

.counters {
  padding-top: 100px;
  padding-bottom: 100px;
}

.counters__container {
  border: 2px solid #eee;
  padding: 43px 66px 42px 76px;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.counter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.counter__number {
  color: #666;
  font-family: "Gilroy-Bold";
  font-size: 70px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.counter__text {
  color: #666;
  font-family: "Gilroy-SemiBold";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 27px */
}

.speed__container {
  display: flex;
  position: relative;
  padding-bottom: 138px;
}

.speed__title {
  margin-top: 138px;
  line-height: 150%;
  margin-bottom: 3px;
}

.speed__text {
  font-size: 16px;
  max-width: 458px;
}

.speed__pic-wrapper {
  position: absolute;
  z-index: -2;
  top: -63px;
  right: -154px;
}
.speed__form {
  display: flex;
  margin-top: 55px;
  gap: 29px;
}

.submit-button {
  color: #fffdfd;
  font-family: "Gilroy-Bold";
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  padding: 15px 48px 15px 49px;
}

.speed__input {
  border: none;
  background-color: #eee;
}

.input__fields {
  border-radius: 50px;
  background-color: #eee;
  padding-left: 20px;
}

.url-data {
  border-right: 1.5px solid #ccc;
}

.speed__table {
  border-radius: 50px;
  background-color: #eee;
}

.speed__td {
  padding-left: 20px;
  width: 200px;
}

.plans {
  background-color: #fafafa;
  padding-top: 87px;
  padding-bottom: 130px;
}

.plans__title {
  text-align: center;
}

.plans__text {
  font-size: 16px;
  text-align: center;
  margin-bottom: 56px;
}

.plans__cards {
  display: flex;
  gap: 35px;
}

.plans__card-wrapper {
  text-align: center;
}

.plans__card {
  max-width: 370px;
  padding: 63px 85px 70px;
  background-color: #fff;
}

.plans__card:hover {
  box-shadow: 15px 25px 70px -5px rgba(0, 0, 0, 0.07);
  transform: scale(1.1);
}

.plan__list {
  list-style: none;
  margin-bottom: 27px;
}

.plan__item {
  color: #666;
  text-align: center;
  font-family: "Gilroy-Medium";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 250%;
}

.plan__name {
  color: #000;
  font-family: "Gilroy-Medium";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.plan__price {
  display: flex;
  color: #000;
  font-family: "Gilroy-Medium";
  font-weight: 400;
  line-height: 150%;
  font-style: normal;
  font-size: 18px;
  padding-top: 31px;
}

.number {
  font-size: 70px;
}

.term {
  font-size: 18px;
  display: block;
}

.plan__button {
  border-radius: 50px;
  background: rgba(242, 88, 34, 0.25);
  color: #f3602d;
  padding: 9px 64px 8px;
  text-align: center;
  font-family: Gilroy-Bold;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 250%;
  border: none;
}

.team__container {
  padding-top: 86px;
  padding-bottom: 100px;
}

.team__title {
  text-align: center;
  margin-bottom: 12px;
  line-height: 150%;
}

.team__text {
  max-width: 626px;
  margin: 0 auto;
  color: #666;
  text-align: center;
  font-family: "Gilroy-Medium";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.member-card {
  max-width: 270px;
}

.member__name {
  margin-bottom: 14px;
  color: #000;
  font-family: "Gilroy-SemiBold";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-align: center;
}
.member__spec {
  margin-bottom: 17px;
}
